.alinhaCabecalho {
	text-align: center;
}

a {
	background-color: transparent;
	color: #23223e;
}

nav li {
	margin: 3px 0 3px 0;
	list-style-type: none;
}

nav {
	float: left;
	margin: 0 0 10px 0;
	padding-top: 9px;
	width: 160px;
}

li {
	font-size: 14px;
	margin: 0 0 6px 15px;
}

.outer {	
	width: default;
	color: navy;
	background-color: default;
	border: 2px solid darkblue;
	padding: 5px;
}